__pycache__/
_XLAM/
.venv/
install/.env
.env
static/shortcuts/*
!static/shortcuts/.gitkeep
static/logs/*
!static/logs/.gitkeep
static/logs/*.log
static/icon.ico
##conf.py
##config.py
install/conf.py
install/config.py
grant-priv.sql
install/grant-priv.sql
install/setup.js
setup.js
*.log
tests/.env
cookies.txt
