{% extends "base.html" %}
{% block content %}
<section class="panel">
  <h1>Welcome</h1>
  <p>This is the authentication service UI.</p>
  <ul>
    {% if request.state.user %}
      <li><a class="btn" href="/dashboard">Go to Dashboard</a></li>
      <li><a class="btn" href="/products">Products</a></li>
    {% else %}
      <li><a class="btn" href="/register">Create account</a></li>
      <li><a class="btn" href="/login">Sign in</a></li>
      <li><a class="btn" href="/oauth/google/start">Sign in with Google</a></li>
    {% endif %}
  </ul>
</section>
{% endblock %}
